* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.container .bg {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    clip-path: url(#path);
    background-color: rgb(30, 56, 255);
}



.container .bg img {
    position: absolute;
    bottom: 0px;
    
}